@import url("https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap")
  @tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Reddit Mono", monospace;
  background-color: #f7f7f7;
  color: #333;
  font-optical-sizing: auto;
}
